<div class="delete-all-content">
  <p>{{localize "RECIPE-BOOK.DeleteAll.Description"}}</p>
  <p class="recipe-count">{{localize "RECIPE-BOOK.DeleteAll.Count"}}: <strong>{{count}}</strong></p>
  <footer>
    <button type="button" data-action="delete-all" class="danger">
      <i class="fa-solid fa-trash"></i> {{localize "RECIPE-BOOK.DeleteAll.Button"}}
    </button>
  </footer>
</div>
