<div class="export-recipes-content">
  <p>{{localize "RECIPE-BOOK.Export.Description"}}</p>
  <p class="recipe-count">{{localize "RECIPE-BOOK.Export.Count"}}: <strong>{{count}}</strong></p>
  <footer>
    <button type="button" data-action="export">
      <i class="fa-solid fa-file-export"></i> {{localize "RECIPE-BOOK.Export.Button"}}
    </button>
  </footer>
</div>
